*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.head-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.head-logo-nav .web {
  color: #4d5ae5;
}
.head-logo-nav {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  width: 115px;
  height: 24px;
  margin: 0;
}

.head-logo-nav .head-span-logo {
  color: #2e2f42;
}
.link-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}

.contakts {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.contakts:hover {
  color: #404bbf;
}
.contakts:focus {
  color: #404bbf;
}
.cont-navbar {
  display: flex;
  padding: 0 156px;
  height: 72px;
  min-width: 1140px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 0px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.address {
  font-style: normal;
}

.ul-link-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.ul-link-address {
  display: flex;
  gap: 40px;
  align-items: center;
}

.section-page-title {
  background-color: #2e2f42;
  min-width: 1140px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-direction: column;
}

.page-title {
  color: #ffff;
  background-color: #2e2f42;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 56px;
}

.page-title-button {
  color: #ffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.page-title-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.page-title-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.section-features {
  gap: 24px;
  padding: 0;
  margin: 0;
}
.flex-f {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  margin: 120px 156px 120px 156px;
}
.block-f {
  display: block;
  width: 264px;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
  margin: 0px;
}

.title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-our-team {
  background-color: #f4f4fd;
  height: 732px;
  min-width: 1140px;
}
.card-our-team {
  max-width: 264px;
  height: 380px;
  display: block;
  align-items: center;
  justify-items: center;
  background-color: #ffff;
}
.container-our-team {
  gap: 24px;
  margin: 0;
  padding-top: 0px;
  padding-right: 156px;
  padding-bottom: 120px;
  padding-left: 156px;
  display: flex;
  align-items: center;
}

.text-our-team {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
  display: block;
}
.section-our-portfolio {
  margin-top: 120px;
  margin-bottom: 120px;
  align-items: center;
}
.card-our-port .title-our-port {
  padding-left: 16px;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-left: 16px;
}
.cont-our-port {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  margin-bottom: 0px;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  height: 865px;
  justify-content: center;
}
.card-our-port {
  width: 360px;
  height: 420px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  margin-top: 0px;
}

.port-title {
  margin: 0;
  padding: 0px;
}
.footer {
  background-color: #2e2f42;
  height: 312px;
  display: flex;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.footer-span-logo {
  color: #f4f4fd;
  flex-direction: column;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
  height: 72px;
  margin-bottom: 0px;
}
.cont-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
  margin: 0px;
  display: block;
  width: 216px;
  height: 112px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
