*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.head-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.head-logo-nav .web {
  color: #4d5ae5;
}
.head-logo-nav {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  width: 115px;
  height: 24px;
  margin: 0;
}

.head-logo-nav .head-span-logo {
  color: #2e2f42;
}
.link-nav {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}

.contakts {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.contakts:hover {
  color: #404bbf;
}
.contakts:focus {
  color: #404bbf;
}
.cont-navbar {
  display: flex;
  padding: 0 156px;
  height: 72px;
  min-width: 1140px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffff;
  margin-bottom: 0px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.address {
  font-style: normal;
}

.ul-link-nav {
  display: flex;
  gap: 40px;
  align-items: center;
}
.ul-link-address {
  display: flex;
  gap: 40px;
  align-items: center;
}

.section-page-title {
  background-color: #2e2f42;
  min-width: 1140px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-direction: column;
}

.page-title {
  color: #ffff;
  background-color: #2e2f42;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 56px;
}

.page-title-button {
  color: #ffff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
}
.page-title-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}
.page-title-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.section-features {
  background-color: #ffff;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.flex-f {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  margin: 60px 156px 120px 156px;
}
.block-f {
  display: block;
  width: 264px;
  gap: 8px;
  padding: 0;
  margin: 0;
}
.section-our-portfolio {
  background-color: #f4f4fd;
}
.section-our-team {
  background-color: #f4f4fd;
}
.features {
  display: none;
}
.section-title {
  font-family: Roboto;
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-portfolio {
  background-color: #f4f4fd;
}
.title {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-our-team {
  color: #f4f4fd;
}
.card-our-team {
  background-color: #ffffff;
}

.text-our-team {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}
.footer-span-logo {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
